:root {
    --color-mossy: #2A3C00;
    --color-black: black;
    --color-bronze: #884400;
    --color-deeppink: #BC3922;
    --color-magenta: #A13D63;
    --color-neonpink: #FF2EA8;
    --color-reddish: #E8245D;
    --color-dark-green: #002E00;
    --color-sloth: #564400;

    --background-color-pink: var(#A13D63);
    --background-color-gold: var(#E1C773);

    --box-shadow-color: 0 0 10px var(--color-reddish);
    --box-shadow-color-hover: 0 0 20px inset var(--color-reddish), 0 0 20px var(--color-magenta);

    --text-shadow-color-black: 0.5px 0.5px 0.5px var(--color-black);
    --text-shadow-color-black-thick: 2px 2px 2px var(--color-black);
    --text-shadow-color-black-green: 1px 1px 1px var(--color-black), -0.25px -0.25px 1px var(--color-dark-green);
}

body {

    margin: 0 50px;
    max-width: 920px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-neonpink);
    text-shadow: var(--text-shadow-color-black-thick);
    font-size: 2em;
    letter-spacing: 1px;
    padding: 10px;
}

.hidden {
    display: none !important;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 920px;
    flex-grow: 1;
    gap: 12px;
    max-width: 920px;
    border: 2px solid var(--color-bronze);
    box-shadow: var(--box-shadow-color);
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-magenta);
    font-size: 1.5em;
    padding: 30px;
    margin: 0 30px;
}

#play {
    letter-spacing: 2px;
    background: var(--color-reddish);
    color: var(--color-deeppink);
    text-shadow: var(--text-shadow-color-black-green);
    padding: 5px 20px;
    border-radius: 5px;
}

#remaining {
    font-size: 1.5em;
}

#quest-cont {
    display: flex;
    flex-direction: column;
    flex: 1 1 920px;
    flex-grow: 1;
    max-width: 920px;
    border: 2px solid var(--color-bronze);
    box-shadow: var(--box-shadow-color);
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-reddish);
    font-size: 2em;
    padding: 30px;
    margin: 0 30px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: var(--text-shadow-color-black-thick);
    letter-spacing: 1px;
}

#question {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

#ans-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    padding: 50px;
}

.ans-opt {
    display: flex;
    flex: 1 1 400px;
    max-width: 500px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border: 2px solid var(--color-bronze);
    box-shadow: var(--box-shadow-color);
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-magenta);
    font-size: 1.5em;
    padding: 20px;
}

.ans-opt:hover {
    color: var(--color-bronze);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-neonpink);
    box-shadow: var(--box-shadow-color-hover);
}

#timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-reddish);
    box-shadow: var(--box-shadow-color);
    background: var(--background-color-pink);
    font-size: 1.5em;
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black-green);
    padding: 30px;
    margin: 15px 30px;
}

#end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 920px;
    flex-grow: 1;
    gap: 12px;
    max-width: 920px;
    border: 2px solid var(--color-bronze);
    box-shadow: var(--box-shadow-color);
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-dark-green);
    font-size: 1.5em;
    padding: 30px;
    margin: 0 30px;
}

#scores-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 920px;
    flex-grow: 1;
    gap: 12px;
    max-width: 920px;
    border: 2px solid var(--color-bronze);
    box-shadow: var(--box-shadow-color);
    color: var(--color-sloth);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-magenta);
    padding: 30px;
    margin: 0 30px;
    text-decoration: none;
}

#scores,
#back,
#submit,
#reset {
    letter-spacing: 1px;
    color: var(--color-deeppink);
    text-shadow: var(--text-shadow-color-black-green);
    padding: 5px 20px;
    border-radius: 5px;
}

#feathers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#scores {
    flex: 1 1 100%;
}

#scores h2 {
    font-size: 2em;
}

#scores ol {
    font-size: 1.5em;
}